<ion-header>
  <ion-navbar>
    <ion-title class='center'>GPS</ion-title>
    <ion-buttons end>
      <button (click)="logout()" ion-button>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="center" padding>
  <h2>Bem-vindo, {{userName}}!</h2>
  <p>
    Este é o melhor Aplicativo do Mundo todo para Geolocalização. Aproveite!
  </p>
  
  <div id="geoButton">
    <button ion-button (click)="getGeoPosition()" icon-only>
      <ion-icon name="locate"></ion-icon>
    </button>

    <p>{{textoLat}}</p>
    <p>{{textoLong}}</p>

  </div>

</ion-content>